.sidebar {
	max-width: 140px;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	padding: 30px 0;
	overflow-y: auto;
}

.sidebar .sidebar-logo,
.sidebar li,
.sidebar .logout-btn {
	margin: 10px 0;
	width: 45px;
	height: 45px;
	min-height: 45px;
}

.sidebar li {
	transform: translateX(4px);
}

.sidebar .sidebar-logo {
	margin: 0;
}

.sidebar .nav-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: inherit;
	border-radius: 6px;
}

.sidebar .nav-link.active {
	background-color: white;
}

.sidebar .nav-link.active i {
	color: var(--dark-text);
}

.sidebar ul {
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: 15px 0;
}

.sidebar i {
	color: white;
	font-size: 26px;
}

.sidebar .logout-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--theme-color-light);
	margin: 0;
	border-radius: 10px;
}
